/* google font inter */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: Inter;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

/* header section css */
nav{
    display: flex;
    margin: 16px auto;
    justify-content: space-between;
    max-width: 1360px;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}

a{
    color: black;
    text-decoration: none;
}

nav button{
    padding: 12.5px 16px;
    color: white;
    background-color: #469165;
    border-radius: 5px;
    border: none;
}

/* banner section css */
.banner{
    background-image: url("../images/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 670px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.early-access1{
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: fit-content;
}
.early-access1 p{
    font-size: 16px;
    color: #469165;
}

.title{
    max-width: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title h1{
    text-align: center;
    font-size: 72px;
    color: white;
}
.title p{
    text-align: center;
    font-size: 18px;
    color: white;
}

.banner-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
}

.btn{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#start{
    background-color: #30B868;
    color: white;
    border-radius: 5px;
    border: none;
}
#see{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 5px
}

/* note section css */

.notes{
    background-color: #e2e2e2;
}

.note-discription{
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    gap: 20px;
}

.note-discription h1{
    font-size: 48px;   
}
.note-discription p{
    font-size: 16px;
    color: #627382;
}

/* card */
.all-cards{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    gap: 24px;
}
.card{
    margin-bottom: 10px;
    padding: 69px 24px;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.card img{
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 16px;
    background-color: #F95555;
}
.card h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.card p{
    margin-bottom: 10px;
    font-size: 16px;
    color: #627382;
}

/* secont brain css */
.second-brain{
    margin: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    gap: 25px;
}
.second-brain img{
    height: 600px;
    width: 600px;
}

.s-b-text p{
    font-size: 16px;
    padding-bottom: 16px;
    color: #627382;
}
.s-b-text h2{
    font-size: 48px;
    padding-bottom: 16px;
}

.s-b-text li{
    margin-left: 25px;
    padding: 8px 0px;
    list-style: none;
    list-style-image: url(../images/assets/CheckCircle.png);
}

/* early access section */
.early-access{
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1360px;
    margin: 0 auto;
    background: #e2e2e2;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.early-access h2{
    text-align: center;
    font-size: 40px;
}
.early-access p{
    text-align: center;
    max-width: 615px;
    font-size: 16px;
    color: #627382;
}
.early-access button{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #30B868;
    color: white;
    border-radius: 5px;
    border: none;
}



/* footer */
footer{
    margin-top: 120px;
    background-color: #001931;
}

.social{
    margin: 0 auto;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.social img{
    height: max-content;
}

.social-icon p{
    padding: 10px 0;
    text-align: center;
    font-size: 20px;    
    color: white;
}
.social-icon img{
    width: 20px;
    padding: 0px;
    margin: 5px;
    background-color: white;
    border: none;
    border-radius: 50px;
}
.copyright{
    padding: 10px;
    max-width: 1360px;
    margin: 0 auto;
}
.copyright p{
    color: #627382;
    text-align: center;
    padding-top: 10px;
}

/* hover effect for css */
nav ul li a:hover{
    padding: 5px;
    border-radius: 5px;
    background-color: #c5c5c5;
    transition: 0.3s;
}

nav button:hover{
    border: 3px solid #254d25;
    transition: 0.3s;
}

#start:hover{
    border: 3px solid #ffffff;
    background-color: #469165;
    color: #ffffff;
    transition: 0.3s;
}
#see:hover{
    background-color: #c5c5c5;
    color: #292929;
    transition: 0.3s;
}

.early-access button:hover{
    border: 3px solid #ffffff;
    background-color: #469165;
    color: #ffffff;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 1px 1px 5px gray;
    transition: 0.3s;
}